
@{ Layout = null;
}
<p class="text-center mt-5 p-3 lead">
    Uygulamada bir hata ile karşılaştık.En kısa sürede düzeltilecektir.

    <a asp-controller="Security" asp-action="Login">Giriş sayfasına geri dön >> </a>
</p>