@model Identity.Models.ViewModel.ResetPasswordModel
@{
    Layout = null;
}
@if (ViewBag.State == null)
{
    <form asp-controller="Security" asp-action="ResetPassword" method="post">

        <h1>Şifreyi Sıfırla</h1>
        <div asp-validation-summary="All"></div>
        <div>
            <input type="email" asp-for="Email" class="form-control" placeholder="E-Posta" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <button type="submit" class="btn submit">Sıfırla</button>
        </div>
    </form>
}
else
{
    if (ViewBag.State)
    {
        @:<div class="alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
    }
    else
    {
        @:<div class="alert-success">Böyle bir e-posta bulunmamaktadır.</div>
    }
}